@font-face{
	font-family: 'raleway';

src: 	
		url('Raleway/Raleway-Italic-VariableFont_wght.ttf') format('ttf'),
		url('Raleway/Raleway-VariableFont_wght.ttf') format('ttf');
		font-weight: normal;
		font-style: normal;

}

/*Polices*/

body{

	font-family: 'raleway',arial, sans serif;
	width: 90%;

	margin: auto;

}

/*Header*/

.header{

	display: flex;
	justify-content: space-between;
	align-items: center;

	padding-top: 40px;

	max-width: 1900px;

}

.headerresp{

	display: none;
}

.logo{

	width: 20%;
	height: 60px;

	background-image: url(images/logo/Reservia@3x.png);
	background-size: contain;
	background-repeat: no-repeat;
	
}

/*Navigation*/

.nav{

	display: flex;
	justify-content: space-around;
	align-items: center;

	height: 60px;
	

}

.nav__link{

    padding-right: 30px;
    list-style: none;

}

.nav__deco{

	text-decoration: none;
    color: black;

}

.nav__deco:hover{

	border-top: 2px solid #0065FC;
	color: #0065FC;

	padding-top: 30px;
	padding-left: 10px;
	padding-right: 10px;

}


.nav__link--sign{

	font-weight: bold;
	color:#0065FC;

}

/*Formulaire recherche*/


.block_search{
	
	display: flex;
	justify-content: flex-start;
	align-items: center;
	
}

.local{
	
	height: 50px;
	width: 60px;

	font-size: 16px;

	display: flex;
	justify-content: center;
	align-items: center;
	
	background-color: #F2F2F2;
	border-top-left-radius: 20%;
	border-bottom-left-radius: 20%;
	border: 1px solid #F2F2F2;

}

.text_city{
	
	width: 200px;
	height: 50px;

	font-size: 16px;
	font-weight: bold;

	padding-left: 10px;
	border-top: 1px solid #F2F2F2;
	border-bottom: 1px solid #F2F2F2;
	border-left: none;
	border-right: none;

}

.button_city{

	background-color: #0065FC;
	color: white;

	height: 50px;
	width: 100px;

	border-top-right-radius: 1em;
	border-bottom-right-radius: 1em;
	border: none;
	font-family: 'Raleway', Arial, Sans Serif;
	font-size: 13px;
	font-weight: bold;
	
}

.loupe{

	display: none;

}

/*Filtres*/

.filtres{

	display: flex;
	flex-wrap: wrap;
	
	padding-top: 25px;
	
}

.titre_themes{

	font-weight: bold;

}

.block_filtres{

	display: flex;

	padding-left: 15px;
}

.itwt{

	display: flex;
	align-items: center;

	padding-right: 25px;

}

.icon_filtres{

	color: #0065FC;

	display: flex;
	justify-content: center;
	align-items: center;

	background-color: #DEEBFF;

	width: 50px;
	height: 50px;

}

.icon_filtres{

	border-radius: 40px;
	margin-right: -25px;

}

.word_themes{

	width: 170px;

	padding: 15px;
	
	vertical-align: middle;
	text-align: center;

	border-top: 2px solid #F2F2F2;
	border-bottom: 2px solid #F2F2F2;
	border-right: 2px solid #F2F2F2;
	border-bottom-right-radius: 40px 40px;
	border-top-right-radius: 40px 40px;
	
}

.word_themes:hover{

	background: rgb(255,255,255);
	background: linear-gradient(90deg, rgba(255,255,255,0) 10%, rgba(0,101,252,1) 100%);

}

/*Bloc info sous recherche*/

.info{

	display: flex;
	justify-content: flex-start;
	align-items: center;

	padding-top: 25px;

}

.icon_info{

	width: 30px;
	height: 30px;

	display: flex;
	justify-content: center;
	align-items: center;

	color: #0065FC;
	border: 2px solid #F2F2F2;
	border-radius: 50%;
	

}

.info__text{

	padding-left: 25px;

}

/*Hebergements*/

.sec_heb{

	display: flex;

}

.house{
	
	background-color: #F2F2F2;
	flex:3;
	position: relative;

	display: flex;
	flex-direction: column;
	justify-content: space-around;

	margin-right: 10px;
	
	border-radius: 15px;

}

.space_heb{

	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	
}

.titre_heb{

	width: 50%;
	height: 50px;

	padding-left: 25px;
	padding-top: 25px;

	
}

.block_heb{

	width: 30%; 
	min-width: 250px;
	height: auto;

	display: flex;
	flex-direction: column;

	margin: 10px;

	background-color: white;

	border-radius: 15px;
	
	box-shadow: 1px 1px 5px #E2E0E0;
}	

.img_heb{
	
	width: auto;
	height: 120px;

	margin-top: 5px;
	margin-left: 5px;
	margin-right: 5px;

	border-top-right-radius: 15px;
	border-top-left-radius: 15px;

	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

}

.text_heb{

	display: flex;
	flex-direction: column;
	justify-content: flex-start;

	padding-left: 20px;
	padding-bottom: 5px;
	
}

.plus_heb{

	width: 90%;
	height: 50px;

	text-decoration: none;
	color: #000000;
	font-weight: bold;

	padding-left: 25px;

}

.one_heb{

	background-image: url('images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg');

}

.two_heb{

	background-image: url('images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg');

}

.three_heb{

	background-image: url('images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg');

}

.four_heb{

	background-image: url('images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg');

}

.five_heb{

	background-image: url('images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg');

}

.six_heb{

	background-image: url('images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg');

}

.fa-star{
	font-size: 1em;
}

.stars{
	display: flex;
	
}

.blue_stars{
	color: #0065FC;
}

.grey_stars{
	color: #F2F2F2;
}


.encart{
	height: 25px;
}

/*Hébergements Populaires*/

.heb_pop{

	flex: 1.2;
	position: relative;

	background-color: #F2F2F2;
	
	border-radius: 15px;

}

.titre_heb_pop{

	display: flex;
	justify-content: space-around;
	align-items: center;

	padding-top: 25px;
}

.space_heb_pop{

	display: flex;
	flex-direction: column;
	align-items: center;

}

.block_heb_pop{

	width: 80%;
	
	height: 150px;
	display: flex;

	margin: 10px;
	
	background-color: white;
	border-radius: 15px;
	
	box-shadow: 1px 1px 5px #E2E0E0;
}

.img_pop{

	width: 30%;
	min-width: 100px;
	height: 140px;

	margin-top: 5px;
	margin-left: 5px;


	border-bottom-left-radius: 15px;
	border-top-left-radius: 15px;

	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

}	

/*Photos hébergements populaires*/
.one_pop{

	background-image: url(images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg);

}

.two_pop{

	background-image: url(images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg);

}

.three_pop{

	background-image: url(images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg);

}

.text_heb_pop{

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	
	width: 180px;
	margin-left: 5px;
	margin-bottom: 10px;
		
}

/*Activités*/

.tit_act{

	padding-left: 20px;

}

.activ__conten{

	display: flex;

}

.int_carte{

	width: 50%;
	height: auto;

	display: flex;

	margin: 10px;

}

.big_photo{

	width: 100%;
	height: auto;

	display: flex;

}

.small_photo{

	display: flex;
	flex-direction: column;
	justify-content: space-between;

	width: 100%;
	height: auto;

}

.gphoto{
	
	width: 90%;
	height: 400px;

}

.sphoto{
	
	width: 100%;
	height: 190px;

}

.resp{

	border-radius: 15px;

	box-shadow: 1px 1px 5px #E2E0E0;

	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	position: relative;

}

.bandeau_text_act{

	background-color: #FFFFFF;
	width: 100%;
	height: 50px;

	position: absolute;

	bottom: 0;

	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;

	display: flex;
	justify-content: flex-start;
	align-items: center;

}

.link_act{
	text-decoration: none;
	color: black;
}

.text_act{

	padding-left: 15px;
	font-weight: bold;

}


.one{

	background-image: url(images/activites/4_small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg);

}

.two{

	background-image: url(images/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg);

}

.three{

	background-image: url(images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg);
	
}

.four{

	background-image: url(images/activites/4_small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg);

}

.five{

	background-image: url(images/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg);
	
}

.six{

	background-image: url(images/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg);
	
}

/*Footer*/

.footer{

	margin-top: 50px;

	background-color: #F2F2F2;

	height: 200px;

	display: flex;
	justify-content: flex-start;

	padding-bottom: 25px;

}

.nav_foot{

	width: 30%;

	padding-left: 30px;

	display: flex;
	flex-direction: column;
	
}

.nav__foot--link{
	text-decoration: none;
	color: #000000
}

/*Body_error*/

#body_error{

	height: 900px;
	width: 500px;
	margin: auto;
	background-image: url(images/erreur404.jpg);
	background-repeat: no-repeat;
}

/*Media Queries*/

/*
Les très petits écrans
*/

@media screen and (max-width: 425px) {

	body{

		margin: 0 auto;
	}

	/*Menu navigation*/

	.header{

		display: none
		
	}

	.headerresp{

		display: flex;
		flex-direction: column;

	}

	.navr{

		width: 100%;
		height: 80px;

		margin: 0;
		padding: 0;

		display: flex;
		justify-content: space-between;
		align-items: center;

	}

	.logor{

		width: 40%;
		height: 40px;

		margin-left: 5px;

		background-image: url(images/logo/Reservia@3x.png);
		background-size: contain;
		background-repeat: no-repeat;
		
	}

	.nav__linkr{

		width: 100%;
		height: 50px;

		list-style: none;
		text-align: center;

	}

	.ligne{

		height: 3px;
		width: 100%;

		background-color: #F2F2F2;

		margin-top: 10px;
	}

	.nav__link--1{

		width: 40%;
		height: 50px;

		list-style: none;

		margin-right: 5px;

		display: flex;
		justify-content: flex-end;
		align-items: center;
	}

	.navd{

		text-decoration: none;
		color: black;
		font-size: 20px;

	}

	.navd:active{

		color:#0065FC;

	}

	.ligne:active{

		color:#0065FC;
	}


	.nav-s{

		text-decoration: none;
		font-weight: bold;
		color:#0065FC;

		font-size: 20px;

	}

	/*Rechercher*/

	.block_search{

		justify-content: center;

	}

	.text_city{
	
		width: 60%;
		font-size: 16px;
	
	}

	.button_city{

		display: none;
	
	}

	.loupe{

		display: flex;
		align-items: center;
		text-align: center;
		justify-content: center;

		background-color: #0065FC;
		color: white;

		height: 50px;
		width: 60px;

		font-size: 20px;

		border-radius: 1em;
		border: none;

		margin-left: -25px;

	}

	/*Filtres*/

	.filtres{

		flex-direction: column;
		padding-left: 20px;
	
	}

	.block_filtres{

		flex-wrap: wrap;
	}

	.itwt{

		margin: 10px;

	}

	/*Hébergements*/

	.sec_heb{

		flex-direction: column-reverse;
		align-content: center;
	}

	.house{

		display: flex;
		flex-direction: column;
		align-items: center;

		width: auto;

		margin-right: 0px;

		background-color: white;

	}

	.space_heb{

		display: flex;
		flex-direction: column;
		align-content: center;

		width: 100%;

	}

	.titre_heb{

		width: 90%;
		text-align: center;

		padding-left: 0px;
	
	}

	.block_heb{

		width: 99%;
	
	}

	.img_heb{
	
		width: auto;
		height: 100px;

	}

	.plus_heb{

	width: 90%;

	}

	/*Hébergements populaires*/

	.heb_pop{

	display: flex;
	flex-direction: column;

	width: 100%;
	height: auto;

	border-radius: 0;
	
	}

	.block_heb_pop{

		width: 90%;
		height: 170px;
	}

	.titre_heb_pop{

	margin-top: 0;
	
	}

	.img_pop{

	width: 50%;
	height: 160px;

	}

	/*Activités*/

	.activ{
		
		display: flex;
		flex-direction: column;

		padding-top: 25px;

	}

	.tit_act{

		padding-left: 0px;
		text-align: center;

	}
	
	.activ__conten{
		
		flex-direction: column;

		width: 100%;
		height: auto;
	}

	.int_carte{
		
		flex-direction: column;


		width: 100%;
		height: auto;

		margin: 0 auto;

	}


	.gphoto{

		width: 99%;
		height: 190px;

	}


	.sphoto{
	
		width: 99%;

	}

	.resp{

		margin: 0px;
		margin-top: 20px;

	}

		/*Footer*/

	.footer{
	 	
	 	height: auto;
		display: flex;
		flex-direction: column;
		justify-content: space-around;

	}

	.nav_foot{

	width: 100%;
	
	}

}

/*Media Queries*/

/*
Tablettes
*/

@media screen and (min-width: 426px) and (max-width: 768px){

	/*Menu navigation*/

	.header{

		display: none
		
	}

	.headerresp{

		display: flex;
		flex-direction: column;

	}

	.navr{

		width: 100%;
		height: 100px;

		margin: 0;
		padding: 0;

		display: flex;
		justify-content: space-between;
		align-items: center;

	}

	.logor{

		width: 40%;
		height: 40px;

		margin-left: 5px;

		background-image: url(images/logo/Reservia@3x.png);
		background-size: contain;
		background-repeat: no-repeat;
		
	}

	.nav__linkr{

		width: 100%;
		height: 50px;

		list-style: none;
		text-align: center;

	}

	.ligne{

		height: 3px;
		width: 100%;

		background-color: #F2F2F2;

		margin-top: 10px;
	}

	.nav__linkr:hover{

		color: #0065FC;

	}

	.nav__link--1{

		width: 40%;
		height: 50px;

		list-style: none;

		margin-right: 5px;

		display: flex;
		justify-content: flex-end;
		align-items: center;
	}

	.navd{

		text-decoration: none;
		color: black;
		font-size: 20px;

	}

	.nav-s{

		text-decoration: none;
		font-weight: bold;
		color:#0065FC;

		font-size: 20px;

	}

	/*Rechercher*/

	.block_search{

		justify-content: center;

	}

	.text_city{
	
		width: 50%;
		font-size: 20px;
	
	}

	.button_city{

		display: none;
	
	}

	.loupe{

		display: flex;
		align-items: center;
		text-align: center;
		justify-content: center;

		background-color: #0065FC;
		color: white;

		height: 50px;
		width: 60px;

		font-size: 20px;

		border-radius: 1em;
		border: none;

		margin-left: -25px;

	}

	/*Filtres*/

	.filtres{

		flex-direction: column;
		padding-left: 20px;
	
	}

	.block_filtres{

		flex-wrap: wrap;
	}

	.itwt{

		margin: 10px;

	}

	/*Hébergements*/

	.sec_heb{

		flex-direction: column-reverse;
		align-content: center;
	}

	.house{

		display: flex;
		flex-direction: column;
		align-items: center;

		width: auto;

		margin-right: 0px;

		background-color: white;

	}

	.space_heb{

		display: flex;
		flex-direction: column;
		align-content: center;
		flex-wrap: wrap;

		width: 100%;

	}

	.titre_heb{

		width: 90%;
		text-align: center;

		padding-left: 0px;
	
	}

	.block_heb{

		width: 90%;
	
	}

	.img_heb{
	
		width: auto;
		height: 120px;

	}

	.plus_heb{

	width: 90%;

	}

	/*Hébergements populaires*/

	.block_heb_pop{

	width: 90%;
	
	height: 180px;
	
	}

	.heb_pop{

	display: flex;
	flex-direction: column;

	border-radius: 0;
	
	}

	.titre_heb_pop{

	margin-top: 0;
	
	}

	.img_pop{

		width: 95%;
		height: 170px;

	}

	/*Activités*/

	.activ{
		
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	
		width: 100%;

		padding-top: 25px;

	}
	
	.activ__conten{
		
		flex-direction: column;

	}

	.int_carte{

		width: 100%;

		padding-top: 25px;

		justify-content: space-around;

		margin: 0 auto;

	}

	.small_photo{

		justify-content: space-around;
	}

	.resp{

	margin: 0px;

	}

		/*Footer*/

	.footer{
	 	
	 	height: auto;
		display: flex;
		flex-direction: column;
		justify-content: space-around;

	}

	.nav_foot{

	width: 100%;
	
	}

}

/*Media Queries*/

/*
Laptop (768 px - 1024 px)
*/

@media screen and (min-width: 769px) and (max-width: 1024px){

	.text_city{
	
		width: 50%;
		font-size: 20px;
	
	}

	/*Filtres*/

	.titre_themes{

		padding-left: 25px;
	
	}

	.block_filtres{
	
		flex-wrap: wrap;

	}

	.itwt{

		margin: 10px;

	}

	/*Hébergements*/

	.sec_heb{

		flex-direction: column-reverse;
		align-content: center;
	}

	.house{

		display: flex;
		flex-direction: column;
		align-items: center;

		width: 100%;

		margin-right: 0px;
		margin-top: 25px;

	}

	.space_heb{

		display: flex;
		align-content: center;

	}

	.titre_heb{

		width: 90%;
		text-align: center;

		padding-left: 0px;
	
	}

	.block_heb{

		width: 45%;
	
	}

	.img_heb{
	
		width: auto;
		height: 120px;

	}

	.plus_heb{

		width: 90%;

	}

	/*Hébergements populaires*/

	.heb_pop{

	display: flex;
	flex-direction: column;

	height: auto;
	margin: 0;
	margin-top: 25px;
	
	}

	.space_heb_pop{

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;

	}

	.block_heb_pop{

	width: 45%;
	height: 180px;

	}

	.titre_heb_pop{

	justify-content: space-around;
	margin-top: 0;
	
	}

	.img_pop{

	width: 95%;
	height: 170px;

	}

	/*Activités*/
	

	/*Footer*/

	.footer{
	 	
	 	height: auto;
		display: flex;
		justify-content: space-around;

	}

}	

	

	



