@font-face{
	font-family: 'Raleway';
src: 	url('raleway/Raleway-VariableFont_wght.ttf') format('truetype'),
		url('raleway/Raleway-Italic-VariableFont_wght.ttf') format('truetype');
}

/*Polices*/

body{

	font-family: "raleway",arial, sans serif;

	width: 99%;
	margin: auto;

}

/*Header*/

.header{

	display: flex;
	justify-content: space-between;
	align-items: center;

	padding-top: 40px;
	margin-left: 20px;
	margin-right: 20px;

}

.logo{

	width: 20%;
	height: 60px;

	background-image: url(images/logo/Reservia@3x.png);
	background-size: contain;
	background-repeat: no-repeat;
	
}

/*Navigation*/

.nav{

	display: flex;
	justify-content: space-around;
	align-items: center;

	height: 60px;
	

}

.nav__link{

    margin-right: 20px;

    list-style: none;

}

.nav__deco{

	text-decoration: none;
    color: black;

}

.nav__deco:hover{

	border-top: 2px solid #0065FC;
	color: #0065FC;

	padding-top: 30px;

}


.nav__link--sign{

	font-weight: bold;
	color:#0065FC;

}

/*Formulaire recherche*/

.search__titre{

	margin: 20px;

}

.block_search{

	margin-left: 20px;
	margin-right: 20px;
	
	display: flex;
	justify-content: flex-start;
	align-items: center;
	

}

.local{
	
	height: 50px;
	width: 60px;

	font-size: 16px;

	display: flex;
	justify-content: center;
	align-items: center;
	
	background-color: #F2F2F2;
	border-top-left-radius: 20%;
	border-bottom-left-radius: 20%;
	border: 1px solid #F2F2F2;

}

.text_city{
	
	width: 200px;
	height: 50px;

	font-size: 16px;
	font-weight: bold;

	padding-left: 10px;
	border-top: 1px solid #F2F2F2;
	border-bottom: 1px solid #F2F2F2;
	border-left: none;
	border-right: none;

}

.button_city{

	background-color: #0065FC;
	color: white;

	height: 50px;
	width: 100px;

	border-top-right-radius: 1em;
	border-bottom-right-radius: 1em;
	border: none;
	font-family: 'Raleway', Arial, Sans Serif;
	font-size: 13px;
	font-weight: bold;
	
}

.loupe{

	display: none;

}

/*Filtres*/

.filtres{

	display: flex;
	flex-wrap: wrap;
	
	margin-top: 25px;
	margin-left: 20px;
	margin-right: 20px;
	
}

.titre_themes{

	font-weight: bold;

}

.block_filtres{

	display: flex;

	margin-left: 15px;
}

.itwt{

	display: flex;
	align-items: center;

	margin-right: 25px;

}

.icon_filtres{

	color: #0065FC;

	display: flex;
	justify-content: center;
	align-items: center;

	background-color: #DEEBFF;

	width: 50px;
	height: 50px;

}

.icon_filtres{

	border-radius: 40px;
	margin-right: -25px;

}

.word_themes{

	width: 170px;

	padding: 15px;
	
	vertical-align: middle;
	text-align: center;

	border-top: 2px solid #F2F2F2;
	border-bottom: 2px solid #F2F2F2;
	border-right: 2px solid #F2F2F2;
	border-bottom-right-radius: 40px 40px;
	border-top-right-radius: 40px 40px;
	
}

.word_themes:hover{

	background: rgb(255,255,255);
	background: linear-gradient(90deg, rgba(255,255,255,0) 10%, rgba(0,101,252,1) 100%);

}

/*Bloc info sous recherche*/

.info{

	display: flex;
	justify-content: flex-start;
	align-items: center;

	margin-top: 25px;
	margin-left: 20px;

}

.icon_info{

	width: 30px;
	height: 30px;

	display: flex;
	justify-content: center;
	align-items: center;

	color: #0065FC;
	border: 2px solid #F2F2F2;
	border-radius: 50%;
	margin-right: 25px;

}

/*Hebergements*/

.sec_heb{

	display: flex;

	margin-left: 20px;
	margin-right: 20px;
	
}

.titre_heb{

	margin-top: 50px;
	margin-left: 30px;
}

.house{
	
	background-color: #F2F2F2;
	flex:3;
	position: relative;

	height: auto;
	
	margin: 5px;
	
	border-top-right-radius: 30px;
	border-top-left-radius: 30px;
	border-bottom-right-radius: 30px;
	border-bottom-left-radius: 30px;
}

.space_heb{

	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: center;

}

.block_heb{
	width: 280px;
	height: 220px;
	display: flex;
	flex-direction: column;

	margin-bottom: 30px;
	
	background-color: white;
	border-top-right-radius: 30px;
	border-top-left-radius: 30px;
	border-bottom-right-radius: 30px;
	border-bottom-left-radius: 30px;
	box-shadow: 1px 1px 5px #E2E0E0;
}	

.img_heb{
	
	width: 270px;
	height: 120px;
	
	
	margin-top: 5px;
	margin-left: 5px;
	margin-bottom: -10px;


	border-top-right-radius: 30px;
	border-top-left-radius: 30px;

}

.text_heb{

	display: flex;
	flex-direction: column;
	

	height: 90px;
	width: 270px;

	margin-left: 15px;
	
}

.fa-star{
	font-size: 1em;
}

.stars{
	display: flex;
	
}

.blue_stars{
	color: #0065FC;
}

.grey_stars{
	color: #F2F2F2;
}

a.plus_heb{

	text-decoration: none;
	color: #000000;
	font-weight: bold;

	margin-left: 30px;

}

.encart{
	height: 25px;
}

.heb_pop{

	flex: 1.2;
	position: relative;

	background-color: #F2F2F2;

	height: auto;
	
	margin: 5px;
	
	border-top-right-radius: 30px;
	border-top-left-radius: 30px;
	border-bottom-right-radius: 30px;
	border-bottom-left-radius: 30px;
}

.titre_heb_pop{

	display: flex;
	justify-content: space-around;
	align-items: center;

	margin-top: 30px;
}

.space_heb_pop{

	display: flex;
	flex-direction: column;
	
	align-items: center;

}

.block_heb_pop{

	width: 300px;
	height: 150px;
	display: flex;

	margin-bottom: 20px;
	
	background-color: white;
	border-top-right-radius: 30px;
	border-top-left-radius: 30px;
	border-bottom-right-radius: 30px;
	border-bottom-left-radius: 30px;
	box-shadow: 1px 1px 5px #E2E0E0;
}

.img_pop{

	width: 100px;
	height: 140px;

	margin-top: 5px;
	margin-left: 5px;


	border-bottom-left-radius: 30px;
	border-top-left-radius: 30px;

}	

.one_pop{

	background-image: url(images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

}

.two_pop{

	background-image: url(images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

}

.three_pop{

	background-image: url(images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

}

.text_heb_pop{

	display: flex;
	
	width: 180px;
	margin-left: 5px;
	margin-bottom: 10px;
	
	flex-direction: column;
	justify-content: space-between;
	
}

/*Activités*/

.activ{

	margin-left: 20px;
	margin-right: 20px;
}


.activ__conten{

	display: flex;
	justify-content: space-between;

}

.int_carte{

	width: 50%;
	height: 400px;

	display: flex;
	justify-content: space-around;

}

.small_photo{

	display: flex;
	flex-direction: column;
	justify-content: space-between;

}

.gphoto{
	
	width: 300px;
	height: 400px;

	border-radius: 30px;

	box-shadow: 1px 1px 5px #E2E0E0;

}

.sphoto{
	
	width: 300px;
	height: 180px;

	border-radius: 30px;

	box-shadow: 1px 1px 5px #E2E0E0;

}

.one{

	background-image: url(images/activites/4_small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	position: relative;

}

.two{

	background-image: url(images/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	position: relative;

}

.three{

	background-image: url(images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	position: relative;
	
}

.four{

	background-image: url(images/activites/4_small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	position: relative;

}

.five{

	background-image: url(images/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	position: relative;
	
}

.six{

	background-image: url(images/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	position: relative;
	
}

.text_photo_act{

	background-color: #FFFFFF;
	width: 300px;
	height: 50px;

	position: absolute;

	bottom: 0;

	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;

	font-weight: bold;
	padding-left: 20px;

	display: flex;
	align-items: center;

}

/*Footer*/

.footer{

	margin-top: 50px;

	background-color: #F2F2F2;

	height: 200px;

	display: flex;
	justify-content: flex-start;

}

.nav_foot{

	width: 30%;

	margin-left: 30px;

	display: flex;
	flex-direction: column;
	
}

.nav__foot--link{
	text-decoration: none;
	color: #000000
}


/*Body_error*/

#body_error{

	height: 900px;
	width: 500px;
	margin: auto;
	background-image: url(images/erreur404.jpg);
	background-repeat: no-repeat;
}

/*Media Queries*/

/*
Les très petits écrans (< 768 px : pour les écrans dont la largeur est comprise entre 0 px et 768 px)
Tablettes (768 px - 991 px)
Ordinateurs (992 px - 1199 px)
Grands écrans d'ordinateurs et télévisions
*/

@media screen and (max-width: 990px)

{
	body{
		width: 130%;

		margin: auto;
	}

	header{
		margin: 0;
	}

	/*Rechercher*/

	.block_search{

		justify-content: space-between;

	}

	.text_city{
	
		width: 80%;
		font-size: 20px;
	
	}

	.button_city{

		display: none;
	
	}

	.loupe{

		display: flex;
		align-items: center;
		text-align: center;
		justify-content: center;

		background-color: #0065FC;
		color: white;

		height: 50px;
		width: 60px;

		font-size: 20px;

		border-radius: 1em;
		border: none;

		margin-left: -25px;

	}

	/*Filtres*/

	.filtres{

	flex-direction: column;
	
	}

	.block_filtres{
	
		flex-wrap: wrap;

	}

	.itwt{

		margin: 10px;

	}

	.word_themes{


	}

	/*Hébergements*/

	.sec_heb{

		flex-direction: column-reverse;

		margin-left: 0;
		margin-right: 0;
	}

	.house{

		background-color: white;
	}

	.block_heb{
	width: 90%;
	height: 220px;
	
	}

	.img_heb{
	
	width: 97%;
	height: 120px;


	}

	/*Hébergements populaires*/

	.heb_pop{

	margin: 0;
	
	border-radius: 0;
	
	}

	.block_heb_pop{

	width: 90%;
	height: 180px;

	}

	.titre_heb_pop{

	margin-top: 0;
	
	}

	.img_pop{

	width: 180px;
	height: 170px;

	}

	/*Activités*/
	
	.activ{
		
		display: flex;
		flex-direction: column;
		align-items: center;

		height: auto;

		margin-left: 0px;
		margin-right: 0px;


	}

	.activ__conten{
		
		display: flex;
		flex-direction: column;
		align-content: center;

	}

	.int_carte{
		
		display: flex;
		flex-direction: column;
		align-content: center;
		
		height: auto;

	}

	.resp{


		width: 400px;
		height: 180px;

		margin: 10px;

	}

	.text_photo_act{

	
	width: 400px;
	height: 50px;

	}

	/*Footer*/

	.footer{
	 	
	 	height: auto;
		display: flex;
		justify-content: space-around;

	}

}

